*{

    background-color: #97d2ff;
font-family: Georgia, 'Times New Roman', Times, serif;
}

hr{
    color: red;
}



.SouthAfrica h3{
  color: white;
  text-align: center;
   
}
.SouthAfrica p{
  color: rgb(0, 86, 185);
  text-align: center;
   
}
.Singapure h3{
  color: white;
  text-align: center;
   
}
.Singapure p{
  color: rgb(0, 86, 185);
  text-align: center;
   
}
.Maldives h3{
  color: white;
  text-align: center;
   
}
.Maldives p{
  color: rgb(0, 86, 185);
  text-align: center;
   
}


